# (Condensed version of code from the previous session)

In [1]:
import pandas as pd
import numpy as np
import re
import string

    pandas = library - use for data manipulations
    numpy = library - use for numerical computing
    re = use to get rid of any special characters/symbols for in the text that may interupt any numerical computations

In [2]:
df_fake = pd.read_csv('csv files/Fake.csv')
df_true = pd.read_csv('csv files/True.csv')

    pd.read_csv code 
are based on the location of the csv file on my computer.

In [3]:
df_fake

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [4]:
df_fake = df_fake.drop(['date','subject','title'], axis = 1)
df_fake

                                                    text
0      Donald Trump just couldn t wish all Americans ...
1      House Intelligence Committee Chairman Devin Nu...
2      On Friday, it was revealed that former Milwauk...
3      On Christmas day, Donald Trump announced that ...
4      Pope Francis used his annual Christmas Day mes...
...                                                  ...
23476  21st Century Wire says As 21WIRE reported earl...
23477  21st Century Wire says It s a familiar theme. ...
23478  Patrick Henningsen  21st Century WireRemember ...
23479  21st Century Wire says Al Jazeera America will...
23480  21st Century Wire says As 21WIRE predicted in ...

[23481 rows x 1 columns]

 We got rid of date, subject and title columns to not confuse our algorithm using the drop function.

In [5]:
df_fake['label'] = 0
df_fake

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
23476  21st Century Wire says As 21WIRE reported earl...      0
23477  21st Century Wire says It s a familiar theme. ...      0
23478  Patrick Henningsen  21st Century WireRemember ...      0
23479  21st Century Wire says Al Jazeera America will...      0
23480  21st Century Wire says As 21WIRE predicted in ...      0

[23481 rows x 2 columns]

In [6]:
df_true

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [7]:
df_true = df_true.drop(['date','subject','title'], axis = 1)
df_true

                                                    text
0      WASHINGTON (Reuters) - The head of a conservat...
1      WASHINGTON (Reuters) - Transgender people will...
2      WASHINGTON (Reuters) - The special counsel inv...
3      WASHINGTON (Reuters) - Trump campaign adviser ...
4      SEATTLE/WASHINGTON (Reuters) - President Donal...
...                                                  ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...
21413  LONDON (Reuters) - LexisNexis, a provider of l...
21414  MINSK (Reuters) - In the shadow of disused Sov...
21415  MOSCOW (Reuters) - Vatican Secretary of State ...
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...

[21417 rows x 1 columns]

 We got rid of date, subject and title columns, again, to not confuse our algorithm using the drop function.

In [8]:
df_true['label'] = 1
df_true

                                                    text  label
0      WASHINGTON (Reuters) - The head of a conservat...      1
1      WASHINGTON (Reuters) - Transgender people will...      1
2      WASHINGTON (Reuters) - The special counsel inv...      1
3      WASHINGTON (Reuters) - Trump campaign adviser ...      1
4      SEATTLE/WASHINGTON (Reuters) - President Donal...      1
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[21417 rows x 2 columns]

*Checking if the number of true articles are about the same number of fake articles in the data set.

    df.shape = (number of rows = number of true/fake articles, number of columns)

In [9]:
df_fake.shape, df_true.shape

((23481, 2), (21417, 2))

Hence, the number of true articles are about the same number of fake articles.

In [10]:
frames = [df_fake, df_true]
df = pd.concat(frames)
df

                                                    text  label
0      Donald Trump just couldn t wish all Americans ...      0
1      House Intelligence Committee Chairman Devin Nu...      0
2      On Friday, it was revealed that former Milwauk...      0
3      On Christmas day, Donald Trump announced that ...      0
4      Pope Francis used his annual Christmas Day mes...      0
...                                                  ...    ...
21412  BRUSSELS (Reuters) - NATO allies on Tuesday we...      1
21413  LONDON (Reuters) - LexisNexis, a provider of l...      1
21414  MINSK (Reuters) - In the shadow of disused Sov...      1
21415  MOSCOW (Reuters) - Vatican Secretary of State ...      1
21416  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...      1

[44898 rows x 2 columns]

    0 = fake article
    1 = true article

In [11]:
def word_drop(text):
    text = text.lower()
    text = re.sub('\[.*?\]', "", text)
    text = re.sub("\\W", " ", text)
    text = re.sub('<.*?>+', '', text)
    text = re.sub('[%s]'%re.escape(string.punctuation), '', text)
    text = re.sub('\n', '', text)
    text = re.sub('\w*\d\w*', '', text)
    return text

In [12]:
df["text"] = df["text"].apply(word_drop)
df

                                                    text  label
0      donald trump just couldn t wish all americans ...      0
1      house intelligence committee chairman devin nu...      0
2      on friday  it was revealed that former milwauk...      0
3      on christmas day  donald trump announced that ...      0
4      pope francis used his annual christmas day mes...      0
...                                                  ...    ...
21412  brussels  reuters    nato allies on tuesday we...      1
21413  london  reuters    lexisnexis  a provider of l...      1
21414  minsk  reuters    in the shadow of disused sov...      1
21415  moscow  reuters    vatican secretary of state ...      1
21416  jakarta  reuters    indonesia will buy  sukhoi...      1

[44898 rows x 2 columns]

*shuffling the data frame, mixing up the True and Fake articles in the data frame.

In [13]:
df = df.sample(frac=True)
df

                                                    text  label
8178   earlier this week  following hillary clinton s...      0
22094  tune in to the alternate current radio network...      0
4519   sterling  va   reuters    president donald tru...      1
23040   rt   president donald trump spoke at cia head...      0
813    washington  reuters    special counsel robert ...      1
...                                                  ...    ...
15113  roseberg residents and families of victims are...      0
2218   washington  reuters    u s  president donald t...      1
13129  berlin  reuters    germans see u s  president ...      1
18906  kiev  reuters    massive explosions and a blaz...      1
6620   boston  reuters    maine voters have made the ...      1

[44898 rows x 2 columns]

# *Vectorisation of text data

Converting text data 
    
    df -> into series of numerical values 
that can be compared to the label, showing that whether the model can predicted fake news correctly.

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df['text'], df['label'], train_size=0.7, test_size=0.3, random_state=0)

Here, we have 

    x = text data
    y = label value
where the text data(x) is trained to correctly pair up with its corresponding label(y), then this is tested out to check how consistent model(s) predicts article as Fake/True article (1/0).

In [15]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorisation = TfidfVectorizer()
xv_train = vectorisation.fit_transform(x_train)
xv_test = vectorisation.transform(x_test)

Now we have vectorised the text data.

# *Testing out models and comparing its accuracy scores

### *Logistic Regression

In [16]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(xv_train, y_train)

LogisticRegression()

In [17]:
LR.score(xv_test, y_test)

0.9864884929472902

In [18]:
print(f'{LR.score(xv_test, y_test)*100}%')

98.64884929472902%

In [19]:
print(f'{round(LR.score(xv_test, y_test)*100,2)}% accuracy')

98.65% accuracy

### *Decision Tree

In [20]:
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier()
DT.fit(xv_train, y_train)

DecisionTreeClassifier()

In [21]:
DT.score(xv_test, y_test)

0.9957683741648107

In [22]:
print(f'{DT.score(xv_test, y_test)*100}%')

99.57683741648107%

In [23]:
print(f'{round(DT.score(xv_test, y_test)*100,2)}% accuracy')

99.58% accuracy

### *Gradient Boosting

In [24]:
from sklearn.ensemble import GradientBoostingClassifier
GBC = GradientBoostingClassifier(random_state=0)
GBC.fit(xv_train, y_train)

GradientBoostingClassifier(random_state=0)

In [25]:
GBC.score(xv_test, y_test)

0.9952487008166295

In [26]:
print(f'{GBC.score(xv_test, y_test)*100}%')

99.52487008166295%

In [27]:
print(f'{round(GBC.score(xv_test, y_test)*100,2)}% accuracy')

99.52% accuracy

### *Random Forest

In [28]:
from sklearn.ensemble import RandomForestClassifier
RFC = RandomForestClassifier(random_state=0)
RFC.fit(xv_train, y_train)

RandomForestClassifier(random_state=0)

In [29]:
RFC.score(xv_test, y_test)

0.9902004454342984

In [30]:
print(f'{RFC.score(xv_test, y_test)*100}%')

99.02004454342985%

In [31]:
print(f'{round(RFC.score(xv_test, y_test)*100,2)}% accuracy')

99.02% accuracy

### *Passive Aggressive Classifier

In [32]:
from sklearn.linear_model import PassiveAggressiveClassifier
PAC = PassiveAggressiveClassifier(max_iter=50)
PAC.fit(xv_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [33]:
PAC.score(xv_test, y_test)

0.995025983667409

In [34]:
print(f'{PAC.score(xv_test, y_test)*100}%')

99.5025983667409%

In [35]:
print(f'{round(PAC.score(xv_test, y_test)*100,2)}% accuracy')

99.5% accuracy

### **Manual Testing

In [36]:
def output_label(n):
    if n==0:
        return "Fake News"
    elif n==1:
        return "Real News"
    
def manual_testing(news):
    testing_news = {"text":[news]}
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(word_drop) 
    new_x_test = new_def_test["text"]
    new_xv_test = vectorisation.transform(new_x_test)
    pred_LR = LR.predict(new_xv_test)
    pred_DT = DT.predict(new_xv_test)
    pred_GBC = GBC.predict(new_xv_test)
    pred_RFC = RFC.predict(new_xv_test)
    pred_PAC = PAC.predict(new_xv_test)

    return print("\n\nLR Prediction: {} \nDT Prediction: {} \nGBC Prediction: {} \nRFC Prediction: {} \nPAC Prediction: {}".format(output_label(pred_LR[0]), 
                                                                                                              output_label(pred_DT[0]), 
                                                                                                              output_label(pred_GBC[0]),
                                                                                                              output_label(pred_RFC[0]), 
                                                                                                              output_label(pred_PAC[0])))

In [37]:
news = str(input())
manual_testing(news)

WASHINGTON (Reuters) - The head of a conservative Republican faction in the U.S. Congress, who voted this month for a huge expansion of the national debt to pay for tax cuts, called himself a â€œfiscal conservativeâ€ on Sunday and urged budget restraint in 2018. In keeping with a sharp pivot under way among Republicans, U.S. Representative Mark Meadows, speaking on CBSâ€™ â€œFace the Nation,â€ drew a hard line on federal spending, which lawmakers are bracing to do battle over in January. When they return from the holidays on Wednesday, lawmakers will begin trying to pass a federal budget in a fight likely to be linked to other issues, such as immigration policy, even as the November congressional election campaigns approach in which Republicans will seek to keep control of Congress. President Donald Trump and his Republicans want a big budget increase in military spending, while Democrats also want proportional increases for non-defense â€œdiscretionaryâ€ spending on programs that support education, scientific research, infrastructure, public health and environmental protection. â€œThe (Trump) administration has already been willing to say: â€˜Weâ€™re going to increase non-defense discretionary spending ... by about 7 percent,â€™â€ Meadows, chairman of the small but influential House Freedom Caucus, said on the program. â€œNow, Democrats are saying thatâ€™s not enough, we need to give the government a pay raise of 10 to 11 percent. For a fiscal conservative, I donâ€™t see where the rationale is. ... Eventually you run out of other peopleâ€™s money,â€ he said. Meadows was among Republicans who voted in late December for their partyâ€™s debt-financed tax overhaul, which is expected to balloon the federal budget deficit and add about $1.5 trillion over 10 years to the $20 trillion national debt. â€œItâ€™s interesting to hear Mark talk about fiscal responsibility,â€ Democratic U.S. Representative Joseph Crowley said on CBS. Crowley said the Republican tax bill would require the  United States to borrow $1.5 trillion, to be paid off by future generations, to finance tax cuts for corporations and the rich. â€œThis is one of the least ... fiscally responsible bills weâ€™ve ever seen passed in the history of the House of Representatives. I think weâ€™re going to be paying for this for many, many years to come,â€ Crowley said. Republicans insist the tax package, the biggest U.S. tax overhaul in more than 30 years,  will boost the economy and job growth. House Speaker Paul Ryan, who also supported the tax bill, recently went further than Meadows, making clear in a radio interview that welfare or â€œentitlement reform,â€ as the party often calls it, would be a top Republican priority in 2018. In Republican parlance, â€œentitlementâ€ programs mean food stamps, housing assistance, Medicare and Medicaid health insurance for the elderly, poor and disabled, as well as other programs created by Washington to assist the needy. Democrats seized on Ryanâ€™s early December remarks, saying they showed Republicans would try to pay for their tax overhaul by seeking spending cuts for social programs. But the goals of House Republicans may have to take a back seat to the Senate, where the votes of some Democrats will be needed to approve a budget and prevent a government shutdown. Democrats will use their leverage in the Senate, which Republicans narrowly control, to defend both discretionary non-defense programs and social spending, while tackling the issue of the â€œDreamers,â€ people brought illegally to the country as children. Trump in September put a March 2018 expiration date on the Deferred Action for Childhood Arrivals, or DACA, program, which protects the young immigrants from deportation and provides them with work permits. The president has said in recent Twitter messages he wants funding for his proposed Mexican border wall and other immigration law changes in exchange for agreeing to help the Dreamers. Representative Debbie Dingell told CBS she did not favor linking that issue to other policy objectives, such as wall funding. â€œWe need to do DACA clean,â€ she said.  On Wednesday, Trump aides will meet with congressional leaders to discuss those issues. That will be followed by a weekend of strategy sessions for Trump and Republican leaders on Jan. 6 and 7, the White House said. Trump was also scheduled to meet on Sunday with Florida Republican Governor Rick Scott, who wants more emergency aid. The House has passed an $81 billion aid package after hurricanes in Florida, Texas and Puerto Rico, and wildfires in California. The package far exceeded the $44 billion requested by the Trump administration. The Senate has not yet voted on the aid.


LR Prediction: Real News
DT Prediction: Real News
GBC Prediction: Real News
RFC Prediction: Real News
PAC Prediction: Real News